
body{
  background-image: linear-gradient(to bottom, rgb(27, 41, 85) 80%, #131E40);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

h1{
  font-size: 7vw;
  color: white;
  font-family: Zen Dots;
}

h2{
  font-size: 4vw;
  font-weight: bold;
  color: white;
  font-family: Plus Jakarta Sans;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
}

.plugin {
  display: flex;
  width: 47%;
  margin: 1em;
  padding: 0;
  background-color: #0f1530;
}

.half-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px; 
  box-sizing: border-box; 
}


.half-width h2{
  font-size: 1.5em;
}

.half-width p{
  color: white;
  padding: 10px;
  border-top: 1px solid #5D5D5D;
  border-bottom: 1px solid #5D5D5D;
}

.imagen{
  width: 50%; 
  box-sizing: border-box; 
}

.imgPlugin {
  width: 100%; 
  height: auto; 
}


button {
  background-color: #3498db; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

  .subir{
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #065991;
    border-radius: 15px;
  }

  .caja{
    display: flex;
    justify-content: end;
    position: relative;
  }

  @media (min-width: 1082px) {
    .formu {
      display: flex;
      justify-content: end;
      align-self: center;
    }
  }

  @media (max-width: 1082px) {

    h1{
      font-size: 5em;
    }
    
    .formu {
      display: flex;
      width: 63%;
      margin-bottom: 1em;
      padding: 0;
    }

    form{
      width: 100%;
    }

    input{
      width: 100%;
    }

    .row{
      display: flex;
      justify-content: center;
    }

    .plugin{
      width: 600px;
    }
  }

  @media (max-width: 670px) {
    .plugin{
      width: 450px;
    }

    .formu {
      width: 450px;
    }
  }